/* Boton de oscuro a claro */
.btnCambiarOscuro {
  font-weight: bold !important;
  z-index: 0;
  /*Posisiona el boton en 0*/
  position: relative;
  /*Hace al boton fijo para que le afecte el after*/
  transition: all 1.5s ease;
  /*all hace que todo le aplique a todo el boton y ease hace que empieze lento y termine rapido*/
  padding: 1vh;
  color: white !important;
  white-space: nowrap;
  /*Evita que el texto se parta*/
  background: linear-gradient(135deg, #3b82f6, #60a5fa);
  border: 2px solid #60a5fa !important;
}

/*Carga el bordo solo con el hover para que el after actue solo*/
.btnCambiarOscuro:hover {
  border: solid 3px #ffffff33 !important;
  color: black !important;
}

/* Crea un nuevo elemento */
.btnCambiarOscuro::after {
  content: "";
  /*Permite que ese elemento este vacio*/
  position: absolute;
  /*El tamaño del elemento se basa al ultimo relativo (que es el boton)*/
  z-index: -1;
  /*Posiciona el elmento atras del texto del boton, no se posiciona atras del boton porque el after se crea en base a este*/
  transition: all 1s ease;
  left: 0;
  /*Posiciona el elmento encima del boton*/
  top: 0;
  /*Posiciona el elmento encima del boton*/
  width: 0;
  /*Hace que no tenga largo por lo tanto no se muestre*/
  height: 100%;
  /*Le da un tamaño fijo proporcional al boton*/
  background: linear-gradient(135deg, #6c9eff, #32d6d1);
}

.btnCambiarOscuro:hover::after {
  width: 100%;
  /*Hace que su largo se agrande, dando el efecto con transition*/
}

.btnOscuro,.dropdownOscuro .dropdown-toggle {
  font-weight: bold !important;
  transition: all 0.5s !important;
  /*all hace que todo le aplique a todo el boton y ease hace que empieze lento y termine rapido*/
  padding: 1vh;
  color: white !important;
  white-space: nowrap;
  /*Evita que el texto se parta*/
  background: linear-gradient(135deg, #3b82f6, #60a5fa);
  border: 2px solid #60a5fa !important;
}

.btnOscuro:hover {
  font-size: 1.1rem;
}