.fondoOscuro {
  background: linear-gradient(135deg, #0d1b2a, #1b263b);
}

.headerOscuro{
box-shadow: 0 5px 4px gray;

}

.fondoCardOscuro {
  background-color: gray !important;
}

.fondoCuerpoOscuro {
  background-color: black;
}

.dropdownOscuro .dropdown-menu{
border: solid 3px #1b263b;
box-shadow: 1px 1px 4px 0px white;
}

.dropdownOscuro .dropdown-menu,.dropdownOscuro .dropdown-item{
  background: linear-gradient(135deg, #0d1b2a, #1b263b);

}