*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

hr{
  margin: 0 !important;
}

.card {
    background-color:  #dbeafe !important;
}

.Card2{
    animation: aparecer 3s;
}

.Card3{
    animation: aparecer 3s;
}

.Main{
  background-color: #f0f9ff;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.Header{
  background-color: #bfdbfe;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.Footer{
  background-color: #bfdbfe;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.Github{
  font-size: 7vh;
}

.LinkedIn{
  font-size: 12vh;
}

@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
